<ion-header-bar align-title="center" class="bar-calm">
  <h1 class="title">Ramadan 2017 - Sénégal</h1>
</ion-header-bar>
<ion-view>
  <ion-content padding="false" overflow-scroll="true">
    <div class="list">

      <div class="item item-divider text-center">
        Copyright
      </div>
      <p class="item text-center">
        <h1 class="item">Thierno Thiam <a >@localhost</a></h1>
      <blockquote class="pull-right"> #Le magicien du code</blockquote>
      </p>
      <p class="item text-center">
      <h1 class="item">Jonathan G Khalil <a >@ducasse</a></h1>
      <blockquote class="pull-right"> #burnout</blockquote>
      </p>

    </div>

  </ion-content>

</ion-view>
